<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swizosoft Certificate Generator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- HEADER -->
    <div class="navbar">
        <div class="header-text">Swizosoft</div>
    </div>

    <!-- PAGE TITLE SECTION -->
    <div class="page-title">
        <h1>Certificate Generation</h1>
        <p>Enter the Name to recieve the Certificate</p>
    </div>

    <!-- FORM CARD -->
    <div class="container">
        <h2>Candidate Name</h2>
        <form action="/generate" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <button type="submit">Download</button>
        </form>
    </div>

</body>
</html>
